
/* Jumbotron Text */
.jumboText {
    text-align: center;
    color: white;
    background-color: transparent;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Footer Text */
.footerText{
    background-color: #b4e4f9;
    padding: 0.5%;
}

.footerTextRow{
    margin: 0;
    padding-bottom: 0;
}

.footerTextLeft{
    margin: 0;
    padding-bottom: 0;
    text-align: left;
}

.footerTextRight{
    margin: 0;
    padding-bottom: 0;
    text-align: right;
}

/* NavPlus Background */
.NavPlusBackground {
    background-image: url(/images/BlackAndWhiteBackground.png);
    background-size: cover
}

.NavBarBackground {
    background-color: transparent;
}

.mainTitle {
    text-align: center;
}

.postImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: auto; */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
