
/* Jumbotron Text */
.jumboText {
    text-align: center;
    color: white;
    background-color: transparent;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Footer Text */
.footerText{
    background-color: #b4e4f9;
    padding: 0.5%;
}

/* NavPlus Background */
.NavPlusBackground {
    background-image: url(../assets/TwitchBanner.png);
    background-size: cover
}

.NavBarBackground {
    background-color: transparent;
}

/* .NavPlusLogo {
    display: flex;
    justify-content: center;
} */

.mainTitle {
    text-align: center;
}