/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #112240;
	color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.aboutText {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.title {
  font-weight: bold;
  font-size: 86px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;

}

.titleSection { 
	height: 100vh; 
}

.rightLinks {
	position: fixed;
    right: 0;
	bottom: 0;
	margin: 2rem;
}

.rightLinksText {
	padding-top: 0.2rem;
	color: #B4E4F9;
	@apply hover:text-red-400
}
