/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: lightslategrey;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.aboutText {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.formfield * {
  vertical-align: top;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}